.add-button {
    width: 216px;
    height: 47px;
    left: 79px;
    top: 531px;
    display: block;
    margin: 0 auto 16px;
    padding: 11px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;    
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;    
    color: #000000;
  }
  
  .remove-button {      
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin: 0 auto;
    padding: 11px;
    color: #f5e5e7;
    background: none;
    border: none;
  }