@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "modules/buttons.scss";
@import "modules/glass.scss";

body {
  background: #3767ad;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 64px;  
  color: #ffffff;
  margin: 0 0 64px;
  text-align: center;
}
